{% extends "base.html.twig" %}
{% block title "Contactez nous" %}
{% block body %}


    <div class="container mt-5">
    <div class="shadow p-4 bg-light rounded border">
        <h1>Contactez <small class="text-muted"> nous</small></h1>
        <div class="bb-15"></div>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {%  if not form.vars.valid %}
        <div class="alert alert-danger">
            Des erreurs sont présentes sur votre formulaire
        </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="row mt-4">

            <div class="col-6">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-6">
                {{ form_row(form.lastname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-6">
                {{ form_row(form.phone) }}
            </div>
        </div>
        <div class="row">
            <div class="col">

                {{ form_row(form.message) }}

            </div>
        </div>


        <div class="row">
            <div class="col">
                {{ form_row(form.captcha) }}
            </div>
            {{ form_end(form) }}


        </div>
    </div>
    </div>
{% endblock %}