{% extends "base.html.twig" %}
{% block title "Mes médicaments" %}
{% block body %}


    <div class="container-fluid mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="d-inline p-2 pl-5 pr-5 bg-primary text-white rounded">
            Mon tableau de bord
        </div>


        <div class="row mt-4 mb-2">
            <div class="col-md-6">
                <div class="bg-primary p-2 text-light">
                Derniers médicament ajoutés
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-primary p-2 text-light">
                Parametres de classification
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Groupe</th>
                        <th scope="col">Symptome(s)</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for element in medicaments %}
                        <tr class="tablerowhref" data-href="{{ path('dash.medicament.detail', {id: element.id, slug: element.slug}) }}">



                            <td style="vertical-align: middle">
                                {% if element.picture %}
                                <img src="{{ vich_uploader_asset(element, 'imageFile') | imagine_filter('thumbTableau')}}" alt="table-img">
                                {% endif %}
                            </td>
                            <td style="vertical-align: middle">{% if element.name %}{{ element.name }}{% endif %}</td>
                            <td style="vertical-align: middle">{% if element.catMedicament %} {{ element.catMedicament.name }} {% endif %}</td>
                            <td style="vertical-align: middle">{% if element.GroupMedicament %} {{ element.GroupMedicament.name }} {% endif %}</td>
                            <td style="vertical-align: middle">{% for symptome in element.Symptomes %} <span class="badge badge-secondary">{{ symptome.name }}</span></br>{% endfor %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                <div class="navigation" >
                    {{ knp_pagination_render(medicaments) }}
                </div>
            </div>
            </div>

            <div class="col-md-2">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Catégories</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for element in categories %}
                        <tr>

                            <td>{{ element.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-md-2">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Groupes</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for element in groups %}
                        <tr>

                            <td>{{ element.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-md-2">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Symptomes</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for element in symptomes %}
                        <tr>
                            <td>{{ element.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>

    </div>
{% endblock %}