<div class="card mb-4">
    {%  if element.picture %}
    <img src="{{ vich_uploader_asset(element, 'imageFile') | imagine_filter('thumb')}}" alt="card-img-top" style="width: 95%; height:auto;">
    {% else %}
    <img src="{{ '/images/medicaments/empty.jpg' | imagine_filter('thumb')}}" alt="card-img-top" style="width: 100%; height:auto;">
    {% endif %}
    <div class="card-body">

        <h5 class="card-title">
            <a href="{{ path('dash.medicament.detail', {id: element.id, slug: element.slug}) }}">{{ element.name }}</a>
        </h5>
        <p class="card-text">{{ element.description }}</p>
    </div>
</div>