{% extends "base.html.twig" %}

{% block title "Liste des médicaments" %}
{% block body %}

    <div class="container mt-4 ">
        {{ form_start(form) }}
        <div class="form-row ">
            <div class="col">

                {{ form_row(form.catMedic) }}

            </div>
            <div class="col">
                {{ form_row(form.groupMedic) }}
            </div>

            <div class="col">
                {{ form_row(form.symptomes) }}
            </div>
            <div class="col">
                <div class="form_group">
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


    <div class="container mt-4">
        <h1>Liste des médicaments</h1>


        <div class="row">


            {% for element in medicaments %}

                <div class="col-md-4">
                    {% include 'medicaments/_medicament.html.twig' %}
                </div>

            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(medicaments) }}
        </div>

    </div>


{% endblock %}