{% extends "base.html.twig" %}

{% block title "Initialisation de la famille" %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bienvenue
                <small class="text-muted">sur votre pharmacie personnelle</small>
            </h1>
            <p class="lead text-primary">Afin d'utiliser votre pharmarcie, vous devez dans un premier temps, créer ou
                rejoindre une
                famille.</p>
        </div>

    </div>

    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Créer votre famille</h3>
            </div>

            <div class="col-md-12 pb-4">
                <p class="text-success">Vous êtes l'administrateur de votre famille et pourrez par la suite inviter
                    d'autre personnes à vous
                    rejoindre</p>
            </div>
        </div>
        {{ form_start(create) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(create.name) }}
            </div>
            <div class="col">

                <button class="btn btn-primary">Créer</button>
            </div>
        </div>
        {{ form_end(create) }}


        <div class="row mt-4">
            <div class="col-md-12 ">
                <h3>Rejoignez une famille</h3>
            </div>
            <div class="col-md-12">
                <p class="text-success pb-4">Si un code vous a été fourni pour rejoindre une famille, vous pouvez le saisir ici</p>
            </div>
        </div>
        <form method="post" action="{{ path('dash.familles.join') }}">
            <div class="form-row">
                <div class="col">
                    <input type="text" id="token" name="token" placeholder="Saisissez votre code" class="form-control">
                    <input type="hidden" name="_method" value="JOIN">
                    <input type="hidden" name="_token" value="{{ csrf_token('join' ~ app.user.id) }}">
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rejoindre</button>
                </div>

            </div>
        </form>
    </div>

{% endblock %}